# --- Python / Django ---
backend/venv/
backend/.venv/
env/
venv/


*.pyc
__pycache__/
backend/**/__pycache__/


*.sqlite3
backend/db.sqlite3


backend/media/
media/


# --- JavaScript / React / Node ---
frontend/node_modules/
node_modules/


frontend/dist/
frontend/build/
out/


# --- Environment Variables / Security ---
.env
.env.local
*.env


# --- Operating System / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/