# --- Python Virtual Environment ---
backend/venv/
backend/.venv/
venv/
backend/.env



# --- Django Cache & Compiled Files ---
__pycache__/
*.pyc
backend/**/__pycache__/

# --- Local Database ---
*.sqlite3
backend/db.sqlite3

# --- Media Uploads ---
backend/media/
media/

# --- Operating System & Editor ---
.DS_Store
Thumbs.db
.vscode/